In [5]:
continent_immigration =df.groupby('continent')['total'].sum()
px.pie(continent_immigration,
       name=continent_immigration.index,
       value=continent_immigration.value,
       hole=.7)

NameError: name 'df' is not defined

pivot table

row and column

In [ ]:
df.pivot_table(index='continent', column='status',value=years,aggfunc='sum')

NameError: name 'df' is not defined

In [ ]:
pr.bar(status_df,
         x=status_df.index,
         y=status_df.columns,
         title='Immigration by region and status'
)

NameError: name 'pr' is not defined

In [6]:
decade_df = df[['80s','90s','2k','2k',_rem]]
decode_df = decode_df.sort_value(by=['80','90','2k','2k_rem']
       ascending=False).head(10)
px.bar(decode_df,
       y=decode_df.index,
       x=decode_df.column,
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3243759597.py, line 2)