In [13]:
1000 + 10

1010

In [12]:
10 -2

8

In [17]:
name = "Drishtant kaushik"
age = 22 
can_vote  = True

In [15]:
12 - 2

10

In [16]:
13*2

26

In [18]:
a = 5
a += 20
a -= 10

In [25]:
a , b = 10 , 3
print(a > b)
print(a < b)
print(a == b)
print(a == b)
print(a == b)
print(a == b)
print(a == b)
print(a == b)
print(a == b)

True
False
False

In [24]:
a , b = 10 , 3
a < b

False

In [ ]:
a , b = 10 , 3
a < b

False

In [ ]:
a , b = 10 , 3
a < b

False

In [ ]:
a , b = 10 , 3
a < b

False

In [ ]:
a , b = 10 , 3
a < b

False

In [ ]:
a , b = 10 , 3
a < b

False

In [ ]:
a , b = 10 , 3
a < b

False

logical operators and or not

In [50]:
x = 'apple' 
y = 'banana'
print(x=='apple' and x == y) 
print(x=='apple'or x == y)
print(x=='apple' or x == y)

False
True
True

In [33]:
fruits = [ 'mango ','banana','cheery', 'avacado' ]

In [34]:
"avacado" in fruits

True

input and output

In [46]:
p = int(input('Principal: '))
r = float(input('Rate:'))
t = int(input('Time:'))
si = p * r * t / 100
print('principal', p)
print('rate', r)
print('time', t)
print('simple interest',si)
print('ampunt',si + p)

principal 1000
rate 10.0
time 122
simple interest 12200.0
ampunt 13200.0

In [23]:
name = "Alexia"
city = "Seattle"
print (name, city)
print (name)
print(city)
print(name ,city ,sep='\n')
print(name,city,sep=',')
print( 'f{name} lives in {city}')

Alexia Seattle
Alexia
Seattle
Alexia
Seattle
Alexia,Seattle
f{name} lives in {city}

In [ ]:
qty = 10
price = 200.00
total = qty * price
if total > 200:
    print ('you purchased item for more then $200')
    print('you get a 10%')
    total = total *0.9 # 90%of total 
    print('total', total)

you purchased item for more then $200
you get a 10%
total 1800.0

In [25]:
number = int(input('enter a number:'))
if number % 2 == 0:
    print(f'even num {number }')
else:
    print(f'odd num {number}')

odd num 789

In [26]:
marks = int(input('enter total marks you got:'))
total = 600
pct = marks / total * 100
print(f'percentage {pct}%')
if pct >= 90:
    print('Grade A+')
elif pct >= 80:
    print('Grade A')
elif pct >= 70:
    print('Grade B')
elif pct >= 60:
    print('Grade c')
elif pct >= 50:
    print('Grade D')

percentage 57.166666666666664%
Grade D

In [30]:
print ('what is the capital of uttrakhand?') 
print('A.Dehradun')
print('B.Lucknow')
print('C.Delhi')
print('D.Haidrabad')
ans = input ('Enter option number:')
match ans:
    case 'A':
        print('correct')
    case'B','C','D':
        print('wrong answer')
    case _:
        print('Invalid option')

what is the capital of uttrakhand?
A.Dehradun
B.Lucknow
C.Delhi
D.Haidrabad
Invalid option