In [1]:
x = set() #empty
print(x)
y = (1,2,3,4,5,6,1,2)
print(y)
data = {'apple',205}
a = set()
a.add("the final empire")
a.add("the hero of ages")
a.add("the well of ascension")
print(a)

set()
(1, 2, 3, 4, 5, 6, 1, 2)
{'the final empire', 'the hero of ages', 'the well of ascension'}

In [3]:
a.update(["AppleSeed","ApplePie"])
print(a)

{'AppleSeed', 'the hero of ages', 'ApplePie', 'the final empire', 'the well of ascension'}

In [4]:
a.discard("AppleSeed")
a.discard("ApplePie") # no error
a.discard("AppleSeed")
print(a)

{'the hero of ages', 'the final empire', 'the well of ascension'}

In [5]:
a = {1,2,3}
b = {4,5,6,}
c = {7,8,9}

ab = a.union(b)
print(ab)

print(a.union(b,c))
print(a|b|c) # | is union

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
print(a.intersection(b))
print(a & b) # & is intersection
print(a & c)
print(a & b & c)

set()
set()
set()
set()

In [8]:
print(a.difference(b))
print(b.difference(a))

{1, 2, 3}
{4, 5, 6}

In [10]:
print(a.symmetric_difference(b))
print(a^b) # ^ is symmetric_difference

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

Dictonary

In [35]:
data = ["Alex", True, False, 29, "New York", "Photograph"]
 
datadict = {
    'name':'Alex',
    'isMarried' : True,
    'hasChildren' : False,
    'age' : 29,
    'city' : 'New York',
    'profession' : 'Photograph'
}

In [36]:
movies = {} # empty dictonary

expenditure = dict(
    food = 500,
    rent = 1700,
    insurance = 200,
    
)

In [37]:
print(datadict)
print(expenditure)

{'name': 'Alex', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photograph'}
{'food': 500, 'rent': 1700, 'insurance': 200}

- creating #
- accessing
- add or update
- remove
- teaversal

In [47]:
datadict['name']

'Alex'

In [38]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
# print(datadict['state]) # keyError

Alex
True
New York

In [12]:
print(datadict.get('city'))
print(datadict.get('City')) #City is not in the dictonary
print(datadict.get('age', 100))
print(datadict.get('AGE', 100 )) # AGE is not in the dictonary

None
None
New York
100

In [50]:
movies['Deadpool & Wolverine'] = "Shawn Levy"
movies['BahuBali'] = "SS Rajamoli"
movies['Inception'] = "Christopher Nplan"
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'The Dark Knight': 'Christopher Nolan', 'The Prestige': 'Christopher Nolan', 'The Matrix': 'iron man', 'BahuBali': 'SS Rajamoli', 'Inception': 'Christopher Nplan'}

In [40]:
movies.update(
    {'The Dark Knight': 'Christopher Nolan',
     'The Prestige': 'Christopher Nolan',
     'The Matrix': 'iron man'
        
    }
)
print(datadict)

{'name': 'Alex', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photograph'}

In [17]:
datadict['name'] = 'Alexander'
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 'New York', 'profession': 'Photograph'}

In [51]:
movies.pop("BahuBali")

'SS Rajamoli'

In [43]:
movies

{'Deadpool & Wolverine': 'Shawn Levy',
 'The Dark Knight': 'Christopher Nolan',
 'The Prestige': 'Christopher Nolan',
 'The Matrix': 'iron man'}

In [22]:
for item in datadict:
   print(item)

name
isMarried
hasChildren
age
profession

In [24]:
for item in datadict:
    print(datadict[item])

Alexander
True
False
New York
Photograph

In [52]:
for k,v datadict.items():
    print(k,v)

SyntaxError: invalid syntax (2738185372.py, line 1)

In [53]:
movies.key()

AttributeError: 'dict' object has no attribute 'key'

:

In [46]:
movies.values()

dict_values(['Shawn Levy', 'Christopher Nolan', 'Christopher Nolan', 'iron man'])

ensted dictonary

In [30]:
report = {
    '01': {
        'name':"alex",
        'subject': {
            'math':90,
            'science':70,
            'english':66
        }
    },
    '02': {
        'name':"John",
        'subject': {
            'math':80,
            'science':75,
            'english':85
        }
    }
}

In [ ]:
report

In [31]:
from pprint import pp

In [32]:
pp(report)

{'01': {'name': 'alex', 'subject': {'math': 90, 'science': 70, 'english': 66}},
 '02': {'name': 'John', 'subject': {'math': 80, 'science': 75, 'english': 85}}}

In [34]:
rainfall_data = {
    'year':[2019,2020,2021,2022,2023],
    'rainfall':[100,200,150,300,250]
}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023], 'rainfall': [100, 200, 150, 300, 250]}

In [8]:
x = [1,2,3,4,5,]

#style1
x3 = []
for i in x:
    x3.append(i**3)
    print(x3)
    
#style 2 -(comprehension)
    x3 = [i**3 for i in x]
print(x3)
    
# style 3 - (map with lambda)
x3 = list(map(lambda i: i**3, x))
print(x3)

[1]
[1, 8, 27, 64, 125, 8]
[1, 8, 27, 64, 125, 27]
[1, 8, 27, 64, 125, 64]
[1, 8, 27, 64, 125, 125]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125]

In [11]:
x = [1,2,'a','b',3,'2',4,5,6,]
num = filter(lambda i :isinstance(i, int), x)
num = list(num) #set(num) or tuple(num)
print(num)

[1, 2, 3, 4, 5, 6]