In [1]:
a = "apple" # single quotes 
b = "applejuice" # double quotes
c = '''this is
an example''' # triple quotes

In [2]:
print(a[0])
print("'a'[0]")

a
'a'[0]

In [3]:
name = "vijay deenanath chauhan"
print(name[0],name[1],name[2],name[3],name[4], sep='')

vijay

In [4]:
name = "vijay denanath chauhan"
print(name[6:15])
print(name[0:5])
print(name[-7:23])
print(name[:5])# start to 5 index
print(name[-7:]) # -7 index to end
print(name[:]) # start to end
print(name[:15:2]) #start to 15 index with step 2
print(name[::2]) # start to end with step 2
print(name[::-1]) # revers the string

denanath
vijay
chauhan
vijay
chauhan
vijay denanath chauhan
vjydnnt
vjydnnt hua
nahuahc htananed yajiv

In [8]:
name[:][::-1][:5]

'nahua'

In [9]:
fname = "bruce"
lname ="wayne"
fname + lname # concatenation

'brucewayne'

In [5]:
' oo ' * 10 # repetition

' oo  oo  oo  oo  oo  oo  oo  oo  oo  oo '

string methods

In [30]:
name.capitalize()

'Vijay denanath chauhan'

In [15]:
sentence = 'the king went to the jungle'
print(sentence.find('king'))
print(sentence.find('queen')) # -1 if not found
print(sentence.find('in'))
print(sentence.replace('king', 'queen'))
print(sentence.replace('jungle', 'castle'))
sentence2 = sentence.replace('king', 'queen').replace('jungle','castle')
print(sentence2)

4
-1
5
the queen went to the jungle
the king went to the castle
the queen went to the castle

In [16]:
sentence.replace('e', 'o')

'tho king wont to tho junglo'

split and join

In [17]:
sentence.split()

['the', 'king', 'went', 'to', 'the', 'jungle']

In [18]:
s3 = 'apple,banana,orange,mango'
s3.split(',')

['apple', 'banana', 'orange', 'mango']

In [20]:
poem = '''
twinkle, twinkle, little star,
how i wonder what you are!
up above the world so high,
like a diamond in the sky.
'''

print(poem.splitlines()) # better than split('\n)
print(poem.split())
print(poem.split(','))

['', 'twinkle, twinkle, little star,', 'how i wonder what you are!', 'up above the world so high,', 'like a diamond in the sky.']
['twinkle,', 'twinkle,', 'little', 'star,', 'how', 'i', 'wonder', 'what', 'you', 'are!', 'up', 'above', 'the', 'world', 'so', 'high,', 'like', 'a', 'diamond', 'in', 'the', 'sky.']
['\ntwinkle', ' twinkle', ' little star', '\nhow i wonder what you are!\nup above the world so high', '\nlike a diamond in the sky.\n']

In [21]:
path = ['c:', 'home','user','document','file.text']

print(" ".join(path))
print("/".join(path))
print(",".join(path))
print("".join(path))
print("###".join(path))

c: home user document file.text
c:/home/user/document/file.text
c:,home,user,document,file.text
c:homeuserdocumentfile.text
c:###home###user###document###file.text

count,startswith and endwith

In [3]:
story = 'once there was a king . he was very powerful. he had a beautiful queen.'
story.count('queen')

1

In [7]:
import os

content = os.listdir('c:/users/GF63/downloads')
print(content)

['12.Strong.2018.480p.Bluray.Hindi.English.Esubs.themoviesflix.com.mkv', '321198155_608876784329882_3895783255733386998_n.jpg', 'AnnualCalendar-2024-engl-100523 prashant kaushik.pdf', 'AnnuCalend_2023_Eng_04052022 prashant kaushik.pdf', 'atal bihari mall resume.docx', 'bittorrent_installer.exe', 'BlueStacks10Installer_10.3.20.1004_native_fe2e0bfa7b8998234e6bc14129c89e2d_MzsxNSwwOzUsMTsxNSw0OzE1.exe', 'BlueStacksInstaller_5.11.42.1002_native_9b7a1666cca2e76de99e5ee1d7125c4b_MzsxNSwwOzUsMTsxNSw0OzE1.exe', 'btweb_installer.exe', 'ChromeSetup (1).exe', 'ChromeSetup (2).exe', 'ChromeSetup.exe', 'cloudpredictionsystemproject.csv.zip', 'codeblocks-20.03-setup.exe', 'cpu-z_2.05-en.exe', 'Data_so (1).bin', 'Data_so.bin', 'desktop.ini', 'devcpp-4.9.9.2_setup (1).exe', 'devcpp-4.9.9.2_setup.exe', 'dk.jpg', 'DK_FRONTPAGE.pdf', 'DocScanner Jun 19, 2023 10-57 (1).pdf', 'DocScanner Jun 19, 2023 11-00.pdf', 'DocScanner Jun 19, 2023 11-02.pdf', 'document_6318668504765563673.mp4', 'DSD Zindabad  (1).pdf', 'DSD Zindabad .pdf', 'dxwebsetup.exe', 'FaceCheck - Reverse Image Search - Face Recognition Search Engine.html', 'FaceCheck - Reverse Image Search - Face Recognition Search Engine_files', 'Farzi S01E08 Hindi 1080p WEBDL ESub [BollyFlix].mkv', 'flowchart.png', 'Git-2.43.0-64-bit (1).exe', 'Git-2.43.0-64-bit.exe', 'hacker.deskthemepack', 'ideaIE-2022.2.2.exe', 'ImageToPDF_1687152614970 (1).pdf', 'ImageToPDF_1687152614970 (2).pdf', 'ImageToPDF_1687152614970 (3).pdf', 'ImageToPDF_1687152614970 (4).pdf', 'ImageToPDF_1687152614970 (5).pdf', 'ImageToPDF_1687152614970 (6).pdf', 'ImageToPDF_1687152614970 (7).pdf', 'ImageToPDF_1687152614970 (8).pdf', 'ImageToPDF_1687152614970.pdf', 'ImageToPDF_1687152664072.pdf', 'Jawan 2023 Hindi (Clean Audio) 1080p HQ S-Print.mkv', 'jdk-21_windows-x64_bin.msi', 'let-us-C++-yashwant-kanetkar.pdf', 'let-us-c-14 (1).pdf', 'let-us-c-14.pdf', 'litecam_hd-5.5.0.3-installer_c9g24-1.exe', 'minecraft-1-20-10-23-xbox-servers.apk', 'mingw-w64-v10.0.0.zip', 'Miniconda3-latest-Windows-x86_64 (1).exe', 'Miniconda3-latest-Windows-x86_64.exe', 'Network theory (1).pdf', 'Network theory.pdf', 'New Flowchart.jpg', 'New folder', 'Notes-Module-wise-KCS101-KCS201 (1).pdf', 'Notes-Module-wise-KCS101-KCS201 (2).pdf', 'Notes-Module-wise-KCS101-KCS201.pdf', 'nox_setup_v7.0.5.1_full_intl.exe', 'OperaGXSetup (1).exe', 'OperaGXSetup.exe', 'OperaSetup.exe', 'Payment-Slip (1).pdf', 'Payment-Slip.pdf', 'PortableGit-2.43.0-64-bit.7z.exe', 'powerset.csv', 'practical 2-5.pdf', 'pronounceinstaller.exe', 'py.jpg', 'python-3.12.0-amd64.exe', 'python-3.12.1-amd64.exe', 'RainPrediction2.ipynb', 'reflection1.deskthemepack', 'Resso-0.18.2.3430-installer.exe', 'scrcpy-win64-v2.3', 'scrcpy-win64-v2.3.zip', 'Shatterline Installer.rar', 'sndcpy-v1.1.zip', 'SteamSetup.exe', 'The Martian (2015) TC 2160p BluRay 4K UHD SDR x265 10bit HEVC [Org Hindi (Cleaned) DD 2.0 224kbps + English AAC 7.1] ESubs ~ PSA (PrivateMoviez).mkv', 'tor-0.4.7.14.tar.gz', 'tor-0.4.8.2-alpha.tar.gz', 'tor-expert-bundle-12.5.1-windows-x86_64.tar.gz', 'torbrowser-install-win64-12.5.1_ALL.exe', 'Turbo.C.3.2', 'TypingMaster11 (1).exe', 'TypingMaster11 (2).exe', 'TypingMaster11.exe', 'unit 5 EE notes.pdf', 'vlc-3.0.18-win64.exe', 'vpnkitsetup.exe', 'VSCodeUserSetup-x64-1.76.0 (1).exe', 'VSCodeUserSetup-x64-1.76.0.exe', 'VSCodeUserSetup-x64-1.85.2.exe', 'weather parameters for 15 days.jpg', 'WhatsApp Image 2023-10-30 at 22.10.42.jpeg']

In [8]:
for item  in content:
   if item.endswith('.jpg'):
      print(item)

321198155_608876784329882_3895783255733386998_n.jpg
dk.jpg
New Flowchart.jpg
py.jpg
weather parameters for 15 days.jpg

In [12]:
word = "excellent"
print(word.startswith("ev"))

False

In [4]:
sentence = input ("enter a sentence")
words = sentence.split()
total = 0
for words in words:
    size = len(words)
    if size % 2 == 0:
        total+=1
print(total)

0

In [6]:
a = 'this is a message'
a.find('is')
print(a.find('mess'))
print(a.find('are'))
print(a.find('is' ,3)) #stert from index 3
#index is a same as find but it thrown an error if not found 
print(a.index('is'))
print(a.index('is', 3)) # stert from index 3 
print(a.index('are')) #

10
-1
2

In [7]:
print(a)
b = a.replace("is", "was")
print(b)
c =b.replace('message' , 'letter').replace('was' , 'is') # chain
print(c)
d = c.replace('t' , 'k', 2) # replace only first 2 occurences
print(d)

this is a message
thwas was a message
this is a letter
khis is a lekter

In [9]:
# replace as remove 
data = "he!!!!!!!!!!!!!!llow"
data.replace('!' , '') #remove all

'hellow'

wap to remove all vowels from string

In [11]:
"welcome to my world".replace('a','').replace('e', '').replace('i','').replace('o', '').replace('u','')

'wlcm t my wrld'

In [12]:
msg = 'one two three one two'
print(msg.count("o"))
print(msg.count("one"))
print(msg.count("ee"))
print(msg.count("four"))

4
2
1
0

In [16]:
name ='  money power '
print(len(name), name )
clean_name = name.strip()
print(len(clean_name),clean_name)

14   money power
11 money power

In [17]:
name = [
    'john',
    'alex',
    'jane',
    'alexa',
    'yakubb'
    
]

display the data after removing all leading and tralling spaces and making it upper case

In [19]:
name = "   Welcome To My Country".replace('W', '').replace('T', '').replace('M', '').replace('C', '')
print(len(name), name)
clean_name = name.strip()
print(len(clean_name),clean_name)

20    elcome o y ountry
17 elcome o y ountry

In [23]:
name = ['john','alex','alexa','jacob']
for i in name:
    print(i.strip().upper())

JOHN
ALEX
ALEXA
JACOB