In [26]:
a = "apple" # single quotes 
b = "applejuice" # double quotes
c = '''this is
an example''' # triple quotes

In [33]:
print(a[0])
print("'a'[0]")

a
'a'[0]

In [1]:
name = "vijay deenanath chauhan"
print(name[0],name[1],name[2],name[3],name[4], sep='')

vijay

In [7]:
name = "vijay denanath chauhan"
print(name[6:15])
print(name[0:5])
print(name[-7:23])
print(name[:5])# start to 5 index
print(name[-7:]) # -7 index to end
print(name[:]) # start to end
print(name[:15:2]) #start to 15 index with step 2
print(name[::2]) # start to end with step 2
print(name[::-1]) # revers the string

denanath
vijay
chauhan
vijay
chauhan
vijay denanath chauhan
vjydnnt
vjydnnt hua
nahuahc htananed yajiv

In [8]:
name[:][::-1][:5]

'nahua'

In [9]:
fname = "bruce"
lname ="wayne"
fname + lname # concatenation

'brucewayne'

In [11]:
' oo ' * 10 # repetition

' oo  oo  oo  oo  oo  oo  oo  oo  oo  oo '

string methods

In [30]:
name.capitalize()

'Vijay denanath chauhan'

In [15]:
sentence = 'the king went to the jungle'
print(sentence.find('king'))
print(sentence.find('queen')) # -1 if not found
print(sentence.find('in'))
print(sentence.replace('king', 'queen'))
print(sentence.replace('jungle', 'castle'))
sentence2 = sentence.replace('king', 'queen').replace('jungle','castle')
print(sentence2)

4
-1
5
the queen went to the jungle
the king went to the castle
the queen went to the castle

In [16]:
sentence.replace('e', 'o')

'tho king wont to tho junglo'

split and join

In [17]:
sentence.split()

['the', 'king', 'went', 'to', 'the', 'jungle']

In [18]:
s3 = 'apple,banana,orange,mango'
s3.split(',')

['apple', 'banana', 'orange', 'mango']

In [20]:
poem = '''
twinkle, twinkle, little star,
how i wonder what you are!
up above the world so high,
like a diamond in the sky.
'''

print(poem.splitlines()) # better than split('\n)
print(poem.split())
print(poem.split(','))

['', 'twinkle, twinkle, little star,', 'how i wonder what you are!', 'up above the world so high,', 'like a diamond in the sky.']
['twinkle,', 'twinkle,', 'little', 'star,', 'how', 'i', 'wonder', 'what', 'you', 'are!', 'up', 'above', 'the', 'world', 'so', 'high,', 'like', 'a', 'diamond', 'in', 'the', 'sky.']
['\ntwinkle', ' twinkle', ' little star', '\nhow i wonder what you are!\nup above the world so high', '\nlike a diamond in the sky.\n']

In [21]:
path = ['c:', 'home','user','document','file.text']

print(" ".join(path))
print("/".join(path))
print(",".join(path))
print("".join(path))
print("###".join(path))

c: home user document file.text
c:/home/user/document/file.text
c:,home,user,document,file.text
c:homeuserdocumentfile.text
c:###home###user###document###file.text